<title>Contacts</title>
<script src="js/scripts.js"></script>
<center>
    <div class="top">
        <input type="button" class="btn" onclick="openModal()" value="New Contact?">
        <form id="search_form" action="javascript:search();">
            <input type="text" id="search_item" class="search_field" placeholder="Name/Phone Number">
            <input type="button" class="btn" value="Search" onclick="document.getElementById('search_form').submit(); return false;">
            <input type="button" class="btn" value="Clear Found" onclick="clearFound()">
            <input type="hidden" id="stop_search">
        </form>
    </div>
    <form method='post' action='/add' id="mah_form">
    <input type="hidden" name="user_name" value="<%=user_name%>">
    <input type="hidden" name="scroll" id="yScroll" value="<%=scroll%>">
    <input type="hidden" name="contacts" id="rowCol" value="">
    <input type="hidden" name="new_info" id="update">
        <center>
            <div id="modal" class="modal">
                <div class="modal-content">
                    <span class="close" onclick="closeModal()">&times;</span>
                    <table class="modal-table">
                        <center>
                            <tr><td>
                                First Name: <input type="text" name="f_name" placeholder="First Name" pattern=".{2,}" required title="2 Letters Minimum">
                            </td></tr><tr><td>
                                Last Name: <input type="text" name="l_name" placeholder="Last Name" pattern=".{3,}" required title="3 Letters Minimum">
                            </td></tr><tr><td>
                                Street: <input type="text" name="street" placeholder="Street Address" required>
                            </td></tr><tr><td>
                                City: <input type="text" name="city" placeholder="City" required>
                            </td></tr><tr><td>
                                State: <input type="text" name="state" placeholder="State" pattern=".{2,2}" required title="Abbreviated States Only">
                            </td></tr><tr><td>
                                Zipcode: <input type="text" name="zip" placeholder="Zip" pattern="\d{5}-?(\d{4})?" required title="5 Digit Minimum">
                            </td></tr><tr><td>
                                Phone Number: <input type="text" name="p_num" placeholder="Phone Number" onchange="this.value=format(this);" required title="10 digit Number">
                            </td></tr>
                        </center>
                    </table><br>
                    <input type="submit" value="Add Contact" class="btn">
                </div>
            </div>
            <br>
            <%row = []%>
            <%contact_record.each do |v|%>
                <%row << v %>
            <%end%>
            <% contact_list.each_with_index do |v,i| %>
                <%col = 1%>
                <% single = "#{row[i]}-#{col}" %>
                <table id="<%= row[i] %>">
                    <tr> 
                        <td class="title">First Name:</td>
                        <td class="name_phone">
                            <input type="text" id="<%=single%>" placeholder="First Name" value="<%=v[0].join("")%>">
                            <% col += 1 %><% single = "#{row[i]}-#{col}" %></td><td>
                            <input type="checkbox" class="close <%=row[i]%>" name="delete_contact" onclick="deleteThis();">&times;</td>
                    </tr><tr>
                        <td class="title">Last Name:</td>
                        <td class="value">
                            <input type="text" id="<%=single%>" placeholder="Last Name" value="<%=v[1].join("")%>">
                            <% col += 1 %><% single = "#{row[i]}-#{col}" %></td>
                    </tr><tr>
                        <td class="title">Address:</td>
                        <td class="value">
                            <input type="text" id="<%=single%>" placeholder="Street Address" value="<%=v[2].join("")%>">
                            <% col += 1 %><% single = "#{row[i]}-#{col}" %></td>
                    </tr><tr>
                        <td class="title">City:</td>
                        <td class="value">
                            <input type="text" id="<%=single%>" placeholder="City" value="<%=v[3].join("")%>">
                            <% col += 1 %><% single = "#{row[i]}-#{col}" %></td>
                    </tr><tr>
                        <td class="title">State:</td>
                        <td class="value">
                            <input type="text" id="<%=single%>" placeholder="State" value="<%=v[4].join("")%>">
                            <% col += 1 %><% single = "#{row[i]}-#{col}" %></td>
                    </tr><tr>
                        <td class="title">Zip:</td>
                        <td class="value">
                            <input type="text" id="<%=single%>" placeholder="Zip" value="<%=v[5].join("")%>">
                            <% col += 1 %><% single = "#{row[i]}-#{col}" %></td>
                    </tr><tr>
                        <td class="title">Phone Number:</td>
                        <td class="name_phone">
                            <input type="tel" id="<%=single%>" placeholder="Phone Number" value="<%=v[6].join("")%>" onchange="this.value=format(this);">
                            <% col += 1 %><% single = "#{row[i]}-#{col}" %></td>
                    </tr>
                </table>
            <% end %>
        </center>
    </form>
</center>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous">
</script><script>
function deleteThis() {
    var checkbox = document.getElementsByName("delete_contact");
    for (var i = 0; i < checkbox.length; i++) {
        if (checkbox[i].checked) {
            var take = checkbox[i].parentNode.parentNode.parentNode.parentNode.id;
            $.ajax({
                type: "POST",
                url: "http://localhost:4567/add",
                data: {a:take},
                beforeSend: function () {

                },
                success: function (data, textStatus, XMLHttpRequest) {
                    // do da delete
                    console.log("Row deleted?");
                    console.log(`${data}`);
                    console.log(`${textStatus}`);
                    console.log(`${XMLHttpRequest}`);
                    
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    // do you action
                }
            });
            break;
        }
    }
}
</script>